SwiftTodo.xcodeproj/xcuserdata/exilias.xcuserdatad/xcschemes/SwiftTodo.xcscheme
SwiftTodo.xcodeproj/xcuserdata/exilias.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/exilias.xcuserdatad/xcschemes/Pods-SwiftTodo-MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/exilias.xcuserdatad/xcschemes/Pods-SwiftTodo.xcscheme
